:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

h1{

    font-size: 40px;

}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.calculator{

width: 400px;

}

.display{

    font-size: 2em;
    width: 100%;
    text-align: right;

}

.botao{

    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: rgb(192, 232, 232);
    cursor: pointer;

}

.botao:hover{

    background-color: rgb(95, 172, 197);

}

.botao_igual{

    background-color: rgb(25, 136, 174);

}

.botao_igual:hover{

    background-color: rgb(14, 117, 151);

}